.root {

    /* COLOURS */
    -text-background: white;
    -text-color: red;
    -dark-color: #3e3e46;
    -my-color2: #ff8580;
    -my-color2-light: #ffaeb3;
    -my-color: #cdd5dc;
    -hover-color: derive(-my-color, 50%);

    /*-fx-text-fill: -fx-text-base-color;*/
    /*-fx-background-color: -dark;*/

    -fx-background-color: blue;

    /*default font */
    -fx-font-family: 'Helvetica Neue';
    -fx-font-size: 14 px;
    -fx-font-weight: 600;
    -fx-disabled-opacity: 0.1;

    /*-fx-focus-color: transparent;*/
    /*-fx-faint-focus-color: transparent;*/

}

.table-view:focused {
    -fx-background-color: transparent /* or transparent or other preferred color */,-fx-box-border,-fx-control-inner-background;
    -fx-background-insets: -1.4, 0, 1;
    -fx-background-radius: 1.4, 0, 0;
    /*....*/
    -fx-padding: 1; /* 0.083333em; */
}

.label {
    -fx-text-fill: -text-color;
}

.new-task-field {
    -fx-font-size: 140%;
}

.text-area {
    -fx-background-color: -text-background;
}

.text-area .content {
    -fx-background-color: -text-background;
}

.text-area .scroll-bar:vertical:disabled {
    -fx-opacity: 0;
}

.text-input {
    -fx-background-color: -text-background;
}

.button {
    -fx-background-color: -my-color2;
}

#completeButton {
    -fx-background-color: #439281;
}

.combo-box-base {
    -fx-background-color: -text-background;
}

/* HOVER, FOCUS, ARMED STYLES */
/*.text-area:hover, .text-field:hover, .text-area .content:hover, .combo-box-base:hover {*/
    /*-fx-color: -hover-color;*/
    /*-fx-background-color: -hover-color;*/
/*}*/

.button:hover {
    -fx-background-color: -my-color2-light;
}

.table-view, .tree-table-view, .table-view:focused {
    /* Constants used throughout the tableview. */
    -fx-table-header-border-color: transparent;
    -fx-table-cell-border-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-border-radius: 4px;
    -fx-background-color: transparent;

}

.table-view .column-header, .filler {
    -fx-text-fill: -fx-selection-bar-text;
    /* TODO: for some reason, this doesn't scale. */
    -fx-font-size: 1em; /* 13pt - 1 more than the default font */
    -fx-size: 25;
    -fx-border-style: solid;
    -fx-border-color: transparent;
    -fx-background-color: derive(-my-color2, 80%);

}

/*.text-field:focused, .text-area:focused {*/
    /*-fx-color: -hover-color;*/
    /*-fx-background-color: -hover-color;*/
/*}*/

.separator:horizontal .line {
    -fx-border-color: #e0e0e0;
    -fx-border-insets: 0 1 0 0;
    -fx-border-width: 1;
}

.table-row-cell {
    /*-fx-background-color: green;*/
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
    -fx-text-fill: -fx-text-inner-color;
    -fx-cell-size: 35px;
}